@use 'sass:map';

$body-texts: (
  'l': (
    'font': var(--ds-font-size-16),
    'line': var(--ds-line-height-20),
  ),
  'l-m': (
    'font': var(--ds-font-size-16),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-medium),
  ),
  'l-sb': (
    'font': var(--ds-font-size-16),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
  'm': (
    'font': var(--ds-font-size-15),
    'line': var(--ds-line-height-20),
  ),
  'm-m': (
    'font': var(--ds-font-size-15),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-medium),
  ),
  'm-sb': (
    'font': var(--ds-font-size-15),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
  's': (
    'font': var(--ds-font-size-14),
    'line': var(--ds-line-height-20),
  ),
  's-m': (
    'font': var(--ds-font-size-14),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-medium),
  ),
  's-sb': (
    'font': var(--ds-font-size-14),
    'line': var(--ds-line-height-20),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
  'xs': (
    'font': var(--ds-font-size-12),
    'line': var(--ds-line-height-16),
  ),
  'xs-m': (
    'font': var(--ds-font-size-12),
    'line': var(--ds-line-height-16),
    'font-weight': var(--ds-font-weight-medium),
  ),
  'xs-sb': (
    'font': var(--ds-font-size-12),
    'line': var(--ds-line-height-16),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
);

@mixin body-font-config($size) {
  font-size: map.get($body-texts, $size, 'font');
  line-height: map.get($body-texts, $size, 'line');
  font-weight: map.get($body-texts, $size, 'font-weight');
}

@each $size in map.keys($body-texts) {
  .text-body-#{$size} {
    @include body-font-config($size);
  }
}
