@use 'sass:map';

$paragraph-texts: (
  'xl': (
    'font': var(--ds-font-size-18),
    'line': var(--ds-line-height-28),
  ),
  'l': (
    'font': var(--ds-font-size-16),
    'line': var(--ds-line-height-24),
  ),
  'l-sb': (
    'font': var(--ds-font-size-16),
    'line': var(--ds-line-height-24),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
  'm': (
    'font': var(--ds-font-size-14),
    'line': var(--ds-line-height-24),
  ),
  'm-sb': (
    'font': var(--ds-font-size-14),
    'line': var(--ds-line-height-24),
    'font-weight': var(--ds-font-weight-semi-bold),
  ),
  's': (
    'font': var(--ds-font-size-12),
    'line': var(--ds-line-height-20),
  ),
);

@mixin paragraph-font-config($size) {
  font-size: map.get($paragraph-texts, $size, 'font');
  line-height: map.get($paragraph-texts, $size, 'line');
  font-weight: map.get($paragraph-texts, $size, 'font-weight');
}

@each $size in map.keys($paragraph-texts) {
  .text-paragraph-#{$size} {
    @include paragraph-font-config($size);
  }
}
