@use './ag-grid-text' as grid;

.cell-content-right {
  @include grid.ag-grid-text;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;

  .ag-cell-wrapper {
    width: 100%;
  }

  .ag-cell-value {
    text-align: right;
  }
}
