/* stylelint-disable */

/* primitives */
:root {
  /* value */
  /* color */
  --alpha-black-alpha-0: rgb(24 24 27 / 0);
  --alpha-black-alpha-002: rgb(24 24 27 / 0.02);
  --alpha-black-alpha-004: rgb(24 24 27 / 0.04);
  --alpha-black-alpha-006: rgb(24 24 27 / 0.06);
  --alpha-black-alpha-008: rgb(24 24 27 / 0.08);
  --alpha-black-alpha-010: rgb(24 24 27 / 0.1);
  --alpha-black-alpha-012: rgb(24 24 27 / 0.12);
  --alpha-black-alpha-016: rgb(24 24 27 / 0.16);
  --alpha-black-alpha-024: rgb(24 24 27 / 0.24);
  --alpha-black-alpha-040: rgb(24 24 27 / 0.4);
  --alpha-black-alpha-056: rgb(24 24 27 / 0.56);
  --alpha-black-alpha-064: rgb(24 24 27 / 0.64);
  --alpha-black-alpha-072: rgb(24 24 27 / 0.72);
  --alpha-black-alpha-080: rgb(24 24 27 / 0.8);
  --alpha-black-alpha-088: rgb(24 24 27 / 0.88);
  --alpha-black-alpha-100: rgb(24 24 27);
  --alpha-blue-alpha-blue-050: rgb(219 234 254 / 0.5);
  --alpha-blue-alpha-blue-051: rgb(30 58 138 / 0.51);
  --alpha-blue-alpha-blue-060: rgb(59 130 246 / 0.6);
  --alpha-blue-alpha-blue-061: rgb(30 58 138 / 0.61);
  --alpha-blue-alpha-blue-080: rgb(96 165 250 / 0.8);
  --alpha-blue-alpha-blue-099: rgb(96 165 250 / 0.99);
  --alpha-red-alpha-red-015: rgb(225 29 72 / 0.15);
  --alpha-red-alpha-red-040: rgb(190 18 60 / 0.4);
  --alpha-white-alpha-0: rgb(255 255 255 / 0);
  --alpha-white-alpha-002: rgb(255 255 255 / 0.02);
  --alpha-white-alpha-004: rgb(255 255 255 / 0.04);
  --alpha-white-alpha-006: rgb(255 255 255 / 0.06);
  --alpha-white-alpha-008: rgb(255 255 255 / 0.08);
  --alpha-white-alpha-010: rgb(255 255 255 / 0.1);
  --alpha-white-alpha-012: rgb(255 255 255 / 0.12);
  --alpha-white-alpha-016: rgb(255 255 255 / 0.16);
  --alpha-white-alpha-024: rgb(255 255 255 / 0.24);
  --alpha-white-alpha-040: rgb(255 255 255 / 0.4);
  --alpha-white-alpha-056: rgb(255 255 255 / 0.56);
  --alpha-white-alpha-064: rgb(255 255 255 / 0.64);
  --alpha-white-alpha-072: rgb(255 255 255 / 0.72);
  --alpha-white-alpha-080: rgb(255 255 255 / 0.8);
  --alpha-white-alpha-088: rgb(255 255 255 / 0.88);
  --alpha-white-alpha-100: rgb(255 255 255);
  --amber-050: rgb(255 250 237);
  --amber-100: rgb(254 243 214);
  --amber-200: rgb(253 232 175);
  --amber-250: rgb(253 221 135);
  --amber-300: rgb(252 210 95);
  --amber-400: rgb(251 197 55);
  --amber-500: rgb(250 187 15);
  --amber-600: rgb(220 162 4);
  --amber-700: rgb(180 133 4);
  --amber-800: rgb(139 103 3);
  --amber-900: rgb(100 74 2);
  --amber-950: rgb(80 59 2);
  --blue-050: rgb(236 242 254);
  --blue-100: rgb(217 229 253);
  --blue-200: rgb(178 202 250);
  --blue-250: rgb(140 176 248);
  --blue-300: rgb(102 149 245);
  --blue-400: rgb(57 121 249);
  --blue-500: rgb(25 97 240);
  --blue-600: rgb(13 79 211);
  --blue-700: rgb(11 65 173);
  --blue-800: rgb(9 50 134);
  --blue-900: rgb(6 36 96);
  --blue-950: rgb(5 29 77);
  --cyan-050: rgb(238 251 250);
  --cyan-100: rgb(220 247 245);
  --cyan-200: rgb(188 240 235);
  --cyan-250: rgb(155 233 225);
  --cyan-300: rgb(121 226 215);
  --cyan-400: rgb(88 218 205);
  --cyan-500: rgb(55 210 194);
  --cyan-600: rgb(40 184 170);
  --cyan-700: rgb(33 151 139);
  --cyan-800: rgb(26 117 108);
  --cyan-900: rgb(18 84 77);
  --cyan-950: rgb(15 67 62);
  --green-050: rgb(238 251 246);
  --green-100: rgb(220 247 236);
  --green-200: rgb(188 240 219);
  --green-250: rgb(155 233 202);
  --green-300: rgb(121 226 184);
  --green-400: rgb(88 218 166);
  --green-500: rgb(55 210 148);
  --green-600: rgb(40 184 127);
  --green-700: rgb(33 151 104);
  --green-800: rgb(26 117 81);
  --green-900: rgb(18 84 58);
  --green-950: rgb(15 67 46);
  --grey-0: rgb(255 255 255);
  --grey-050: rgb(250 250 250);
  --grey-100: rgb(244 244 245);
  --grey-1000: rgb(24 24 27);
  --grey-150: rgb(239 239 240);
  --grey-200: rgb(228 228 231);
  --grey-250: rgb(223 223 226);
  --grey-300: rgb(207 207 211);
  --grey-400: rgb(160 160 167);
  --grey-500: rgb(118 118 127);
  --grey-600: rgb(83 83 90);
  --grey-700: rgb(59 59 64);
  --grey-750: rgb(49 49 53);
  --grey-800: rgb(39 39 42);
  --grey-900: rgb(33 33 36);
  --olive-050: rgb(247 251 238);
  --olive-100: rgb(238 247 220);
  --olive-200: rgb(223 240 188);
  --olive-250: rgb(207 233 155);
  --olive-300: rgb(191 226 121);
  --olive-400: rgb(175 218 88);
  --olive-500: rgb(158 210 55);
  --olive-600: rgb(136 184 40);
  --olive-700: rgb(111 151 33);
  --olive-800: rgb(87 117 26);
  --olive-900: rgb(62 84 18);
  --olive-950: rgb(50 67 15);
  --orange-050: rgb(254 244 238);
  --orange-100: rgb(253 230 215);
  --orange-200: rgb(252 207 177);
  --orange-250: rgb(250 183 137);
  --orange-300: rgb(248 158 98);
  --orange-400: rgb(247 134 59);
  --orange-500: rgb(245 110 20);
  --orange-600: rgb(215 92 9);
  --orange-700: rgb(176 75 7);
  --orange-800: rgb(136 58 6);
  --orange-900: rgb(98 42 4);
  --orange-950: rgb(78 33 3);
  --pink-050: rgb(254 236 248);
  --pink-100: rgb(253 217 241);
  --pink-200: rgb(250 178 226);
  --pink-250: rgb(252 135 213);
  --pink-300: rgb(252 95 200);
  --pink-400: rgb(243 63 183);
  --pink-500: rgb(240 25 169);
  --pink-600: rgb(211 13 145);
  --pink-700: rgb(173 11 119);
  --pink-800: rgb(134 9 92);
  --pink-900: rgb(96 6 66);
  --pink-950: rgb(77 5 53);
  --purple-050: rgb(243 236 254);
  --purple-100: rgb(231 217 253);
  --purple-200: rgb(207 178 250);
  --purple-250: rgb(183 140 248);
  --purple-300: rgb(159 102 245);
  --purple-400: rgb(135 63 243);
  --purple-500: rgb(111 25 240);
  --purple-600: rgb(92 13 211);
  --purple-700: rgb(76 11 173);
  --purple-800: rgb(59 9 134);
  --purple-900: rgb(42 6 96);
  --purple-950: rgb(34 5 77);
  --red-050: rgb(254 236 237);
  --red-100: rgb(253 217 219);
  --red-200: rgb(250 178 183);
  --red-250: rgb(252 135 143);
  --red-300: rgb(252 95 106);
  --red-400: rgb(243 63 75);
  --red-500: rgb(240 25 39);
  --red-600: rgb(211 13 27);
  --red-700: rgb(173 11 22);
  --red-800: rgb(134 9 17);
  --red-900: rgb(96 6 12);
  --red-950: rgb(77 5 10);
  --theme-color-dark: rgb(1 1 2);
  --theme-color-light: rgb(1 1 2);
  --yellow-050: rgb(254 254 238);
  --yellow-100: rgb(252 252 216);
  --yellow-200: rgb(250 250 178);
  --yellow-250: rgb(248 248 140);
  --yellow-300: rgb(245 245 102);
  --yellow-400: rgb(243 243 63);
  --yellow-500: rgb(240 240 25);
  --yellow-600: rgb(211 211 13);
  --yellow-700: rgb(173 173 11);
  --yellow-800: rgb(133 133 9);
  --yellow-900: rgb(96 96 6);
  --yellow-950: rgb(77 77 5);
}
/* tokens */
:root {
  /* Light */
  /* color */
  --ds-accent-amber-050-950: var(--amber-050);
  --ds-accent-amber-100-900: var(--amber-100);
  --ds-accent-amber-100-950: var(--amber-100);
  --ds-accent-amber-200-800: var(--amber-200);
  --ds-accent-amber-250-700: var(--amber-250);
  --ds-accent-amber-300-600: var(--amber-300);
  --ds-accent-amber-400-500: var(--amber-400);
  --ds-accent-amber-400-600: var(--amber-400);
  --ds-accent-amber-500-400: var(--amber-500);
  --ds-accent-amber-600-300: var(--amber-600);
  --ds-accent-amber-700-250: var(--amber-700);
  --ds-accent-amber-800-200: var(--amber-800);
  --ds-accent-amber-900-100: var(--amber-900);
  --ds-accent-amber-950-050: var(--amber-950);
  --ds-accent-blue-050-950: var(--blue-050);
  --ds-accent-blue-100-500: var(--blue-100);
  --ds-accent-blue-100-800: var(--blue-100);
  --ds-accent-blue-100-900: var(--blue-100);
  --ds-accent-blue-200-800: var(--blue-200);
  --ds-accent-blue-250-700: var(--blue-250);
  --ds-accent-blue-300-300: var(--blue-300);
  --ds-accent-blue-300-600: var(--blue-300);
  --ds-accent-blue-400-300: var(--blue-400);
  --ds-accent-blue-400-400: var(--blue-400);
  --ds-accent-blue-400-500: var(--blue-400);
  --ds-accent-blue-500-300: var(--blue-500);
  --ds-accent-blue-500-400: var(--blue-500);
  --ds-accent-blue-600-300: var(--blue-600);
  --ds-accent-blue-700-250: var(--blue-700);
  --ds-accent-blue-800-200: var(--blue-800);
  --ds-accent-blue-900-100: var(--blue-900);
  --ds-accent-blue-950-050: var(--blue-950);
  --ds-accent-cyan-050-950: var(--cyan-050);
  --ds-accent-cyan-100-900: var(--cyan-100);
  --ds-accent-cyan-200-800: var(--cyan-200);
  --ds-accent-cyan-250-700: var(--cyan-250);
  --ds-accent-cyan-300-600: var(--cyan-300);
  --ds-accent-cyan-400-500: var(--cyan-400);
  --ds-accent-cyan-500-400: var(--cyan-500);
  --ds-accent-cyan-600-300: var(--cyan-600);
  --ds-accent-cyan-700-250: var(--cyan-700);
  --ds-accent-cyan-800-200: var(--cyan-800);
  --ds-accent-cyan-900-100: var(--cyan-900);
  --ds-accent-cyan-950-050: var(--cyan-950);
  --ds-accent-green-050-950: var(--green-050);
  --ds-accent-green-100-900: var(--green-100);
  --ds-accent-green-100-950: var(--green-100);
  --ds-accent-green-200-800: var(--green-200);
  --ds-accent-green-250-700: var(--green-250);
  --ds-accent-green-300-600: var(--green-300);
  --ds-accent-green-400-500: var(--green-400);
  --ds-accent-green-400-600: var(--green-400);
  --ds-accent-green-500-400: var(--green-500);
  --ds-accent-green-600-300: var(--green-600);
  --ds-accent-green-600-600: var(--green-600);
  --ds-accent-green-600-700: var(--green-600);
  --ds-accent-green-700-250: var(--green-700);
  --ds-accent-green-700-500: var(--green-700);
  --ds-accent-green-800-200: var(--green-800);
  --ds-accent-green-800-500: var(--green-800);
  --ds-accent-green-900-100: var(--green-900);
  --ds-accent-green-950-050: var(--green-950);
  --ds-accent-olive-050-950: var(--olive-050);
  --ds-accent-olive-100-900: var(--olive-100);
  --ds-accent-olive-200-800: var(--olive-200);
  --ds-accent-olive-250-700: var(--olive-250);
  --ds-accent-olive-300-600: var(--olive-300);
  --ds-accent-olive-400-500: var(--olive-400);
  --ds-accent-olive-500-400: var(--olive-500);
  --ds-accent-olive-600-300: var(--olive-600);
  --ds-accent-olive-700-250: var(--olive-700);
  --ds-accent-olive-800-200: var(--olive-800);
  --ds-accent-olive-900-100: var(--olive-900);
  --ds-accent-olive-950-050: var(--olive-950);
  --ds-accent-orange-050-950: var(--orange-050);
  --ds-accent-orange-100-900: var(--orange-100);
  --ds-accent-orange-200-800: var(--orange-200);
  --ds-accent-orange-250-700: var(--orange-250);
  --ds-accent-orange-300-600: var(--orange-300);
  --ds-accent-orange-400-500: var(--orange-400);
  --ds-accent-orange-400-600: var(--orange-400);
  --ds-accent-orange-500-400: var(--orange-500);
  --ds-accent-orange-600-300: var(--orange-600);
  --ds-accent-orange-700-250: var(--orange-700);
  --ds-accent-orange-800-200: var(--orange-800);
  --ds-accent-orange-900-100: var(--orange-900);
  --ds-accent-orange-950-050: var(--orange-950);
  --ds-accent-pink-050-950: var(--pink-050);
  --ds-accent-pink-100-900: var(--pink-100);
  --ds-accent-pink-200-800: var(--pink-200);
  --ds-accent-pink-250-700: var(--pink-250);
  --ds-accent-pink-300-600: var(--pink-300);
  --ds-accent-pink-400-500: var(--pink-400);
  --ds-accent-pink-500-400: var(--pink-500);
  --ds-accent-pink-600-300: var(--pink-600);
  --ds-accent-pink-700-250: var(--pink-700);
  --ds-accent-pink-800-200: var(--pink-800);
  --ds-accent-pink-900-100: var(--pink-900);
  --ds-accent-pink-950-050: var(--pink-950);
  --ds-accent-purple-050-950: var(--purple-050);
  --ds-accent-purple-100-900: var(--purple-100);
  --ds-accent-purple-200-800: var(--purple-200);
  --ds-accent-purple-250-700: var(--purple-250);
  --ds-accent-purple-300-600: var(--purple-300);
  --ds-accent-purple-400-500: var(--purple-400);
  --ds-accent-purple-500-400: var(--purple-500);
  --ds-accent-purple-600-300: var(--purple-600);
  --ds-accent-purple-700-250: var(--purple-700);
  --ds-accent-purple-800-200: var(--purple-800);
  --ds-accent-purple-900-100: var(--purple-900);
  --ds-accent-purple-950-050: var(--purple-950);
  --ds-accent-red-050-950: var(--red-050);
  --ds-accent-red-100-900: var(--red-100);
  --ds-accent-red-100-950: var(--red-100);
  --ds-accent-red-200-800: var(--red-200);
  --ds-accent-red-250-700: var(--red-250);
  --ds-accent-red-300-600: var(--red-300);
  --ds-accent-red-400-500: var(--red-400);
  --ds-accent-red-400-600: var(--red-400);
  --ds-accent-red-500-400: var(--red-500);
  --ds-accent-red-500-500: var(--red-500);
  --ds-accent-red-500-800: var(--red-500);
  --ds-accent-red-600-300: var(--red-600);
  --ds-accent-red-600-700: var(--red-600);
  --ds-accent-red-700-250: var(--red-700);
  --ds-accent-red-700-400: var(--red-700);
  --ds-accent-red-800-200: var(--red-800);
  --ds-accent-red-900-100: var(--red-900);
  --ds-accent-red-950-050: var(--red-950);
  --ds-accent-red-950-100: var(--red-950);
  --ds-accent-yellow-050-950: var(--yellow-050);
  --ds-accent-yellow-100-900: var(--yellow-100);
  --ds-accent-yellow-200-800: var(--yellow-200);
  --ds-accent-yellow-250-700: var(--yellow-250);
  --ds-accent-yellow-300-600: var(--yellow-300);
  --ds-accent-yellow-400-500: var(--yellow-400);
  --ds-accent-yellow-500-400: var(--yellow-500);
  --ds-accent-yellow-600-300: var(--yellow-600);
  --ds-accent-yellow-700-250: var(--yellow-700);
  --ds-accent-yellow-800-200: var(--yellow-800);
  --ds-accent-yellow-900-100: var(--yellow-900);
  --ds-accent-yellow-950-050: var(--yellow-950);
  --ds-alpha-bb-000-040: var(--alpha-black-alpha-0);
  --ds-alpha-bb-002-002: var(--alpha-black-alpha-002);
  --ds-alpha-bb-004-004: var(--alpha-black-alpha-004);
  --ds-alpha-bb-004-006: var(--alpha-black-alpha-004);
  --ds-alpha-bb-004-024: var(--alpha-black-alpha-004);
  --ds-alpha-bb-004-040: var(--alpha-black-alpha-004);
  --ds-alpha-bb-006-006: var(--alpha-black-alpha-006);
  --ds-alpha-bb-006-040: var(--alpha-black-alpha-006);
  --ds-alpha-bb-006-056: var(--alpha-black-alpha-006);
  --ds-alpha-bb-008-024: var(--alpha-black-alpha-008);
  --ds-alpha-bb-008-040: var(--alpha-black-alpha-008);
  --ds-alpha-bb-008-064: var(--alpha-black-alpha-008);
  --ds-alpha-bb-008-080: var(--alpha-black-alpha-008);
  --ds-alpha-bb-010-010: var(--alpha-black-alpha-010);
  --ds-alpha-bb-012-008: var(--alpha-black-alpha-012);
  --ds-alpha-bb-012-024: var(--alpha-black-alpha-012);
  --ds-alpha-bb-012-040: var(--alpha-black-alpha-012);
  --ds-alpha-bb-012-064: var(--alpha-black-alpha-012);
  --ds-alpha-bb-016-016: var(--alpha-black-alpha-016);
  --ds-alpha-bb-016-024: var(--alpha-black-alpha-016);
  --ds-alpha-bb-016-040: var(--alpha-black-alpha-016);
  --ds-alpha-bb-016-064: var(--alpha-black-alpha-016);
  --ds-alpha-bb-024-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-024-064: var(--alpha-black-alpha-024);
  --ds-alpha-bb-040-008: var(--alpha-black-alpha-040);
  --ds-alpha-bb-040-024: var(--alpha-black-alpha-040);
  --ds-alpha-bb-040-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-040-064: var(--alpha-black-alpha-040);
  --ds-alpha-bb-072-072: var(--alpha-black-alpha-072);
  --ds-alpha-bb-088-024: var(--alpha-black-alpha-088);
  --ds-alpha-blue-051-051: var(--alpha-blue-alpha-blue-051);
  --ds-alpha-blue-060-050: var(--alpha-blue-alpha-blue-060);
  --ds-alpha-blue-060-080: var(--alpha-blue-alpha-blue-060);
  --ds-alpha-blue-060-099: var(--alpha-blue-alpha-blue-060);
  --ds-alpha-blue-061-061: var(--alpha-blue-alpha-blue-061);
  --ds-alpha-bw-0-0: var(--alpha-black-alpha-0);
  --ds-alpha-bw-0-088: var(--alpha-black-alpha-0);
  --ds-alpha-bw-0-100: var(--alpha-black-alpha-0);
  --ds-alpha-bw-002-002: var(--alpha-black-alpha-002);
  --ds-alpha-bw-002-080: var(--alpha-black-alpha-002);
  --ds-alpha-bw-004-002: var(--alpha-black-alpha-004);
  --ds-alpha-bw-004-004: var(--alpha-black-alpha-004);
  --ds-alpha-bw-004-072: var(--alpha-black-alpha-004);
  --ds-alpha-bw-006-006: var(--alpha-black-alpha-006);
  --ds-alpha-bw-006-064: var(--alpha-black-alpha-006);
  --ds-alpha-bw-008-006: var(--alpha-black-alpha-008);
  --ds-alpha-bw-008-012: var(--alpha-black-alpha-008);
  --ds-alpha-bw-008-056: var(--alpha-black-alpha-008);
  --ds-alpha-bw-010-040: var(--alpha-black-alpha-010);
  --ds-alpha-bw-012-024: var(--alpha-black-alpha-012);
  --ds-alpha-bw-016-016: var(--alpha-black-alpha-016);
  --ds-alpha-bw-024-012: var(--alpha-black-alpha-024);
  --ds-alpha-bw-024-024: var(--alpha-black-alpha-024);
  --ds-alpha-bw-040-010: var(--alpha-black-alpha-040);
  --ds-alpha-bw-056-008: var(--alpha-black-alpha-056);
  --ds-alpha-bw-064-006: var(--alpha-black-alpha-064);
  --ds-alpha-bw-072-004: var(--alpha-black-alpha-072);
  --ds-alpha-bw-080-002: var(--alpha-black-alpha-080);
  --ds-alpha-bw-088-0: var(--alpha-black-alpha-088);
  --ds-alpha-bw-100-0: var(--ds-neutral-1000-1000);
  --ds-alpha-red-015-015: var(--alpha-red-alpha-red-040);
  --ds-alpha-red-040-040: var(--alpha-red-alpha-red-040);
  --ds-alpha-wb-0-0: var(--alpha-white-alpha-0);
  --ds-alpha-wb-0-088: var(--alpha-white-alpha-0);
  --ds-alpha-wb-0-100: var(--alpha-white-alpha-0);
  --ds-alpha-wb-002-080: var(--alpha-white-alpha-002);
  --ds-alpha-wb-004-072: var(--alpha-white-alpha-004);
  --ds-alpha-wb-006-064: var(--alpha-white-alpha-006);
  --ds-alpha-wb-008-056: var(--alpha-white-alpha-008);
  --ds-alpha-wb-010-040: var(--alpha-white-alpha-010);
  --ds-alpha-wb-012-024: var(--alpha-white-alpha-012);
  --ds-alpha-wb-016-016: var(--alpha-white-alpha-016);
  --ds-alpha-wb-024-012: var(--alpha-white-alpha-024);
  --ds-alpha-wb-040-010: var(--alpha-white-alpha-040);
  --ds-alpha-wb-056-008: var(--alpha-white-alpha-056);
  --ds-alpha-wb-064-006: var(--alpha-white-alpha-064);
  --ds-alpha-wb-072-004: var(--alpha-white-alpha-072);
  --ds-alpha-wb-080-002: var(--alpha-white-alpha-080);
  --ds-alpha-wb-080-080: var(--alpha-white-alpha-080);
  --ds-alpha-wb-100-100: var(--alpha-white-alpha-100);
  --ds-alpha-wb-88-0: var(--alpha-white-alpha-088);
  --ds-alpha-ww-0-0: var(--alpha-white-alpha-0);
  --ds-alpha-ww-0-072: var(--alpha-white-alpha-0);
  --ds-alpha-ww-0-100: var(--alpha-white-alpha-0);
  --ds-alpha-ww-004-004: var(--alpha-white-alpha-004);
  --ds-alpha-ww-006-006: var(--alpha-white-alpha-006);
  --ds-alpha-ww-012-006: var(--alpha-white-alpha-012);
  --ds-alpha-ww-012-012: var(--alpha-white-alpha-012);
  --ds-alpha-ww-024-008: var(--alpha-white-alpha-024);
  --ds-alpha-ww-024-010: var(--alpha-white-alpha-024);
  --ds-alpha-ww-024-016: var(--alpha-white-alpha-024);
  --ds-alpha-ww-024-024: var(--alpha-white-alpha-024);
  --ds-alpha-ww-024-088: var(--alpha-white-alpha-024);
  --ds-alpha-ww-064-024: var(--alpha-white-alpha-064);
  --ds-alpha-ww-080-072: var(--alpha-white-alpha-080);
  --ds-alpha-ww-088-0: var(--alpha-white-alpha-088);
  --ds-alpha-ww-100-012: var(--alpha-white-alpha-100);
  --ds-neutral-0-0: var(--grey-0);
  --ds-neutral-0-1000: var(--grey-0);
  --ds-neutral-0-500: var(--grey-0);
  --ds-neutral-0-600: var(--grey-0);
  --ds-neutral-0-800: var(--grey-0);
  --ds-neutral-0-900: var(--grey-0);
  --ds-neutral-050-1000: var(--grey-050);
  --ds-neutral-050-700: var(--grey-050);
  --ds-neutral-050-750: var(--grey-050);
  --ds-neutral-050-800: var(--grey-050);
  --ds-neutral-050-900: var(--grey-050);
  --ds-neutral-100-1000: var(--grey-100);
  --ds-neutral-100-600: var(--grey-100);
  --ds-neutral-100-700: var(--grey-100);
  --ds-neutral-100-750: var(--grey-100);
  --ds-neutral-100-800: var(--grey-100);
  --ds-neutral-1000-0: var(--grey-1000);
  --ds-neutral-1000-1000: var(--grey-1000);
  --ds-neutral-1000-150: var(--grey-1000);
  --ds-neutral-1000-200: var(--grey-1000);
  --ds-neutral-1000-400: var(--grey-1000);
  --ds-neutral-1000-500: var(--grey-1000);
  --ds-neutral-1000-600: var(--grey-1000);
  --ds-neutral-1000-700: var(--grey-1000);
  --ds-neutral-1000-750: var(--grey-1000);
  --ds-neutral-150-100: var(--grey-150);
  --ds-neutral-150-1000: var(--grey-150);
  --ds-neutral-150-600: var(--grey-150);
  --ds-neutral-150-700: var(--grey-150);
  --ds-neutral-150-750: var(--grey-150);
  --ds-neutral-150-800: var(--grey-150);
  --ds-neutral-200-1000: var(--grey-200);
  --ds-neutral-200-200: var(--grey-200);
  --ds-neutral-200-600: var(--grey-200);
  --ds-neutral-200-700: var(--grey-200);
  --ds-neutral-200-750: var(--grey-200);
  --ds-neutral-200-800: var(--grey-200);
  --ds-neutral-200-900: var(--grey-200);
  --ds-neutral-250-600: var(--grey-250);
  --ds-neutral-250-700: var(--grey-250);
  --ds-neutral-300-300: var(--grey-300);
  --ds-neutral-300-500: var(--grey-300);
  --ds-neutral-300-600: var(--grey-300);
  --ds-neutral-300-700: var(--grey-300);
  --ds-neutral-400-400: var(--grey-400);
  --ds-neutral-400-500: var(--grey-400);
  --ds-neutral-400-600: var(--grey-400);
  --ds-neutral-400-700: var(--grey-400);
  --ds-neutral-500-300: var(--grey-500);
  --ds-neutral-500-400: var(--grey-500);
  --ds-neutral-500-500: var(--grey-500);
  --ds-neutral-500-700: var(--grey-500);
  --ds-neutral-600-250: var(--grey-600);
  --ds-neutral-600-300: var(--grey-600);
  --ds-neutral-600-400: var(--grey-600);
  --ds-neutral-600-500: var(--grey-600);
  --ds-neutral-600-600: var(--grey-600);
  --ds-neutral-600-900: var(--grey-600);
  --ds-neutral-700-100: var(--grey-700);
  --ds-neutral-700-200: var(--grey-700);
  --ds-neutral-700-300: var(--grey-700);
  --ds-neutral-700-400: var(--grey-700);
  --ds-neutral-700-500: var(--grey-700);
  --ds-neutral-700-600: var(--grey-700);
  --ds-neutral-700-700: var(--grey-700);
  --ds-neutral-700-800: var(--grey-700);
  --ds-neutral-750-150: var(--grey-750);
  --ds-neutral-750-750: var(--grey-750);
  --ds-neutral-800-100: var(--grey-800);
  --ds-neutral-800-1000: var(--grey-800);
  --ds-neutral-800-500: var(--grey-800);
  --ds-neutral-800-600: var(--grey-800);
  --ds-neutral-800-700: var(--grey-800);
  --ds-neutral-800-800: var(--grey-800);
  --ds-neutral-900-0: var(--grey-900);
  --ds-neutral-900-050: var(--grey-900);
  --ds-neutral-900-900: var(--grey-900);
  /* Dark */
  /* color */
  --ds-accent-amber-050-950: var(--amber-950);
  --ds-accent-amber-100-900: var(--amber-900);
  --ds-accent-amber-100-950: var(--amber-950);
  --ds-accent-amber-200-800: var(--amber-800);
  --ds-accent-amber-250-700: var(--amber-700);
  --ds-accent-amber-300-600: var(--amber-600);
  --ds-accent-amber-400-500: var(--amber-500);
  --ds-accent-amber-400-600: var(--amber-600);
  --ds-accent-amber-500-400: var(--amber-400);
  --ds-accent-amber-600-300: var(--amber-300);
  --ds-accent-amber-700-250: var(--amber-250);
  --ds-accent-amber-800-200: var(--amber-200);
  --ds-accent-amber-900-100: var(--amber-100);
  --ds-accent-amber-950-050: var(--amber-050);
  --ds-accent-blue-050-950: var(--blue-950);
  --ds-accent-blue-100-500: var(--blue-500);
  --ds-accent-blue-100-800: var(--blue-800);
  --ds-accent-blue-100-900: var(--blue-900);
  --ds-accent-blue-200-800: var(--blue-800);
  --ds-accent-blue-250-700: var(--blue-700);
  --ds-accent-blue-300-300: var(--blue-300);
  --ds-accent-blue-300-600: var(--blue-600);
  --ds-accent-blue-400-300: var(--blue-300);
  --ds-accent-blue-400-400: var(--blue-500);
  --ds-accent-blue-400-500: var(--blue-500);
  --ds-accent-blue-500-300: var(--blue-300);
  --ds-accent-blue-500-400: var(--blue-400);
  --ds-accent-blue-600-300: var(--blue-300);
  --ds-accent-blue-700-250: var(--blue-250);
  --ds-accent-blue-800-200: var(--blue-200);
  --ds-accent-blue-900-100: var(--blue-100);
  --ds-accent-blue-950-050: var(--blue-050);
  --ds-accent-cyan-050-950: var(--cyan-950);
  --ds-accent-cyan-100-900: var(--cyan-900);
  --ds-accent-cyan-200-800: var(--cyan-800);
  --ds-accent-cyan-250-700: var(--cyan-700);
  --ds-accent-cyan-300-600: var(--cyan-600);
  --ds-accent-cyan-400-500: var(--cyan-500);
  --ds-accent-cyan-500-400: var(--cyan-400);
  --ds-accent-cyan-600-300: var(--cyan-300);
  --ds-accent-cyan-700-250: var(--cyan-250);
  --ds-accent-cyan-800-200: var(--cyan-200);
  --ds-accent-cyan-900-100: var(--cyan-100);
  --ds-accent-cyan-950-050: var(--cyan-050);
  --ds-accent-green-050-950: var(--green-950);
  --ds-accent-green-100-900: var(--green-900);
  --ds-accent-green-100-950: var(--green-950);
  --ds-accent-green-200-800: var(--green-800);
  --ds-accent-green-250-700: var(--green-700);
  --ds-accent-green-300-600: var(--green-600);
  --ds-accent-green-400-500: var(--green-500);
  --ds-accent-green-400-600: var(--green-600);
  --ds-accent-green-500-400: var(--green-400);
  --ds-accent-green-600-300: var(--green-300);
  --ds-accent-green-600-600: var(--green-600);
  --ds-accent-green-600-700: var(--green-700);
  --ds-accent-green-700-250: var(--green-250);
  --ds-accent-green-700-500: var(--green-500);
  --ds-accent-green-800-200: var(--green-200);
  --ds-accent-green-800-500: var(--green-500);
  --ds-accent-green-900-100: var(--green-100);
  --ds-accent-green-950-050: var(--green-050);
  --ds-accent-olive-050-950: var(--olive-950);
  --ds-accent-olive-100-900: var(--olive-900);
  --ds-accent-olive-200-800: var(--olive-800);
  --ds-accent-olive-250-700: var(--olive-700);
  --ds-accent-olive-300-600: var(--olive-600);
  --ds-accent-olive-400-500: var(--olive-500);
  --ds-accent-olive-500-400: var(--olive-400);
  --ds-accent-olive-600-300: var(--olive-300);
  --ds-accent-olive-700-250: var(--olive-250);
  --ds-accent-olive-800-200: var(--olive-200);
  --ds-accent-olive-900-100: var(--olive-100);
  --ds-accent-olive-950-050: var(--olive-050);
  --ds-accent-orange-050-950: var(--orange-950);
  --ds-accent-orange-100-900: var(--orange-900);
  --ds-accent-orange-200-800: var(--orange-800);
  --ds-accent-orange-250-700: var(--orange-700);
  --ds-accent-orange-300-600: var(--orange-600);
  --ds-accent-orange-400-500: var(--orange-500);
  --ds-accent-orange-400-600: var(--orange-600);
  --ds-accent-orange-500-400: var(--orange-400);
  --ds-accent-orange-600-300: var(--orange-300);
  --ds-accent-orange-700-250: var(--orange-250);
  --ds-accent-orange-800-200: var(--orange-200);
  --ds-accent-orange-900-100: var(--orange-100);
  --ds-accent-orange-950-050: var(--orange-050);
  --ds-accent-pink-050-950: var(--pink-950);
  --ds-accent-pink-100-900: var(--pink-900);
  --ds-accent-pink-200-800: var(--pink-800);
  --ds-accent-pink-250-700: var(--pink-700);
  --ds-accent-pink-300-600: var(--pink-600);
  --ds-accent-pink-400-500: var(--pink-500);
  --ds-accent-pink-500-400: var(--pink-400);
  --ds-accent-pink-600-300: var(--pink-300);
  --ds-accent-pink-700-250: var(--pink-250);
  --ds-accent-pink-800-200: var(--pink-200);
  --ds-accent-pink-900-100: var(--pink-100);
  --ds-accent-pink-950-050: var(--pink-050);
  --ds-accent-purple-050-950: var(--purple-950);
  --ds-accent-purple-100-900: var(--purple-900);
  --ds-accent-purple-200-800: var(--purple-800);
  --ds-accent-purple-250-700: var(--purple-700);
  --ds-accent-purple-300-600: var(--purple-600);
  --ds-accent-purple-400-500: var(--purple-500);
  --ds-accent-purple-500-400: var(--purple-400);
  --ds-accent-purple-600-300: var(--purple-300);
  --ds-accent-purple-700-250: var(--purple-250);
  --ds-accent-purple-800-200: var(--purple-200);
  --ds-accent-purple-900-100: var(--purple-100);
  --ds-accent-purple-950-050: var(--purple-050);
  --ds-accent-red-050-950: var(--red-950);
  --ds-accent-red-100-900: var(--red-900);
  --ds-accent-red-100-950: var(--red-950);
  --ds-accent-red-200-800: var(--red-800);
  --ds-accent-red-250-700: var(--red-700);
  --ds-accent-red-300-600: var(--red-600);
  --ds-accent-red-400-500: var(--red-500);
  --ds-accent-red-400-600: var(--red-600);
  --ds-accent-red-500-400: var(--red-400);
  --ds-accent-red-500-500: var(--red-400);
  --ds-accent-red-500-800: var(--red-800);
  --ds-accent-red-600-300: var(--red-300);
  --ds-accent-red-600-700: var(--red-700);
  --ds-accent-red-700-250: var(--red-250);
  --ds-accent-red-700-400: var(--red-400);
  --ds-accent-red-800-200: var(--red-200);
  --ds-accent-red-900-100: var(--red-100);
  --ds-accent-red-950-050: var(--red-050);
  --ds-accent-red-950-100: var(--red-100);
  --ds-accent-yellow-050-950: var(--yellow-950);
  --ds-accent-yellow-100-900: var(--yellow-900);
  --ds-accent-yellow-200-800: var(--yellow-800);
  --ds-accent-yellow-250-700: var(--yellow-700);
  --ds-accent-yellow-300-600: var(--yellow-600);
  --ds-accent-yellow-400-500: var(--yellow-500);
  --ds-accent-yellow-500-400: var(--yellow-400);
  --ds-accent-yellow-600-300: var(--yellow-300);
  --ds-accent-yellow-700-250: var(--yellow-250);
  --ds-accent-yellow-800-200: var(--yellow-200);
  --ds-accent-yellow-900-100: var(--yellow-100);
  --ds-accent-yellow-950-050: var(--yellow-050);
  --ds-alpha-bb-000-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-002-002: var(--alpha-black-alpha-002);
  --ds-alpha-bb-004-004: var(--alpha-black-alpha-004);
  --ds-alpha-bb-004-006: var(--alpha-black-alpha-006);
  --ds-alpha-bb-004-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-004-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-006-006: var(--alpha-black-alpha-006);
  --ds-alpha-bb-006-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-006-056: var(--alpha-black-alpha-056);
  --ds-alpha-bb-008-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-008-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-008-064: var(--alpha-black-alpha-064);
  --ds-alpha-bb-008-080: var(--alpha-black-alpha-080);
  --ds-alpha-bb-010-010: var(--alpha-black-alpha-010);
  --ds-alpha-bb-012-008: var(--alpha-black-alpha-008);
  --ds-alpha-bb-012-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-012-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-012-064: var(--alpha-black-alpha-064);
  --ds-alpha-bb-016-016: var(--alpha-black-alpha-016);
  --ds-alpha-bb-016-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-016-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-016-064: var(--alpha-black-alpha-064);
  --ds-alpha-bb-024-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-024-064: var(--alpha-black-alpha-064);
  --ds-alpha-bb-040-008: var(--alpha-black-alpha-008);
  --ds-alpha-bb-040-024: var(--alpha-black-alpha-024);
  --ds-alpha-bb-040-040: var(--alpha-black-alpha-040);
  --ds-alpha-bb-040-064: var(--alpha-black-alpha-064);
  --ds-alpha-bb-072-072: var(--alpha-black-alpha-072);
  --ds-alpha-bb-088-024: var(--alpha-black-alpha-024);
  --ds-alpha-blue-051-051: var(--alpha-blue-alpha-blue-051);
  --ds-alpha-blue-060-050: var(--alpha-blue-alpha-blue-050);
  --ds-alpha-blue-060-080: var(--alpha-blue-alpha-blue-080);
  --ds-alpha-blue-060-099: var(--alpha-blue-alpha-blue-099);
  --ds-alpha-blue-061-061: var(--alpha-blue-alpha-blue-061);
  --ds-alpha-bw-0-0: var(--alpha-white-alpha-0);
  --ds-alpha-bw-0-088: var(--alpha-white-alpha-088);
  --ds-alpha-bw-0-100: var(--ds-neutral-0-0);
  --ds-alpha-bw-002-002: var(--alpha-white-alpha-002);
  --ds-alpha-bw-002-080: var(--alpha-white-alpha-080);
  --ds-alpha-bw-004-002: var(--alpha-white-alpha-002);
  --ds-alpha-bw-004-004: var(--alpha-white-alpha-004);
  --ds-alpha-bw-004-072: var(--alpha-white-alpha-072);
  --ds-alpha-bw-006-006: var(--alpha-white-alpha-006);
  --ds-alpha-bw-006-064: var(--alpha-white-alpha-064);
  --ds-alpha-bw-008-006: var(--alpha-white-alpha-006);
  --ds-alpha-bw-008-012: var(--alpha-white-alpha-012);
  --ds-alpha-bw-008-056: var(--alpha-white-alpha-056);
  --ds-alpha-bw-010-040: var(--alpha-white-alpha-040);
  --ds-alpha-bw-012-024: var(--alpha-white-alpha-024);
  --ds-alpha-bw-016-016: var(--alpha-white-alpha-016);
  --ds-alpha-bw-024-012: var(--alpha-white-alpha-012);
  --ds-alpha-bw-024-024: var(--alpha-white-alpha-024);
  --ds-alpha-bw-040-010: var(--alpha-white-alpha-010);
  --ds-alpha-bw-056-008: var(--alpha-white-alpha-008);
  --ds-alpha-bw-064-006: var(--alpha-white-alpha-006);
  --ds-alpha-bw-072-004: var(--alpha-white-alpha-004);
  --ds-alpha-bw-080-002: var(--alpha-white-alpha-002);
  --ds-alpha-bw-088-0: var(--alpha-white-alpha-0);
  --ds-alpha-bw-100-0: var(--ds-neutral-0-0);
  --ds-alpha-red-015-015: var(--alpha-red-alpha-red-040);
  --ds-alpha-red-040-040: var(--alpha-red-alpha-red-040);
  --ds-alpha-wb-0-0: var(--alpha-black-alpha-0);
  --ds-alpha-wb-0-088: var(--alpha-black-alpha-088);
  --ds-alpha-wb-0-100: var(--ds-neutral-1000-1000);
  --ds-alpha-wb-002-080: var(--alpha-black-alpha-080);
  --ds-alpha-wb-004-072: var(--alpha-black-alpha-072);
  --ds-alpha-wb-006-064: var(--alpha-black-alpha-064);
  --ds-alpha-wb-008-056: var(--alpha-black-alpha-056);
  --ds-alpha-wb-010-040: var(--alpha-black-alpha-040);
  --ds-alpha-wb-012-024: var(--alpha-black-alpha-024);
  --ds-alpha-wb-016-016: var(--alpha-black-alpha-016);
  --ds-alpha-wb-024-012: var(--alpha-black-alpha-012);
  --ds-alpha-wb-040-010: var(--alpha-black-alpha-010);
  --ds-alpha-wb-056-008: var(--alpha-black-alpha-008);
  --ds-alpha-wb-064-006: var(--alpha-black-alpha-006);
  --ds-alpha-wb-072-004: var(--alpha-black-alpha-004);
  --ds-alpha-wb-080-002: var(--alpha-black-alpha-002);
  --ds-alpha-wb-080-080: var(--alpha-black-alpha-080);
  --ds-alpha-wb-100-100: var(--alpha-black-alpha-100);
  --ds-alpha-wb-88-0: var(--alpha-black-alpha-0);
  --ds-alpha-ww-0-0: var(--alpha-white-alpha-0);
  --ds-alpha-ww-0-072: var(--alpha-white-alpha-072);
  --ds-alpha-ww-0-100: var(--ds-neutral-0-0);
  --ds-alpha-ww-004-004: var(--alpha-white-alpha-004);
  --ds-alpha-ww-006-006: var(--alpha-white-alpha-006);
  --ds-alpha-ww-012-006: var(--alpha-white-alpha-006);
  --ds-alpha-ww-012-012: var(--alpha-white-alpha-012);
  --ds-alpha-ww-024-008: var(--alpha-white-alpha-008);
  --ds-alpha-ww-024-010: var(--alpha-white-alpha-010);
  --ds-alpha-ww-024-016: var(--alpha-white-alpha-016);
  --ds-alpha-ww-024-024: var(--alpha-white-alpha-024);
  --ds-alpha-ww-024-088: var(--alpha-white-alpha-088);
  --ds-alpha-ww-064-024: var(--alpha-white-alpha-024);
  --ds-alpha-ww-080-072: var(--alpha-white-alpha-072);
  --ds-alpha-ww-088-0: var(--alpha-white-alpha-0);
  --ds-alpha-ww-100-012: var(--alpha-white-alpha-012);
  --ds-neutral-0-0: var(--grey-0);
  --ds-neutral-0-1000: var(--grey-1000);
  --ds-neutral-0-500: var(--grey-500);
  --ds-neutral-0-600: var(--grey-600);
  --ds-neutral-0-800: var(--grey-800);
  --ds-neutral-0-900: var(--grey-900);
  --ds-neutral-050-1000: var(--grey-1000);
  --ds-neutral-050-700: var(--grey-700);
  --ds-neutral-050-750: var(--grey-750);
  --ds-neutral-050-800: var(--grey-800);
  --ds-neutral-050-900: var(--grey-900);
  --ds-neutral-100-1000: var(--grey-1000);
  --ds-neutral-100-600: var(--grey-600);
  --ds-neutral-100-700: var(--grey-700);
  --ds-neutral-100-750: var(--grey-750);
  --ds-neutral-100-800: var(--grey-800);
  --ds-neutral-1000-0: var(--grey-0);
  --ds-neutral-1000-1000: var(--grey-1000);
  --ds-neutral-1000-150: var(--grey-150);
  --ds-neutral-1000-200: var(--grey-200);
  --ds-neutral-1000-400: var(--grey-400);
  --ds-neutral-1000-500: var(--grey-500);
  --ds-neutral-1000-600: var(--grey-600);
  --ds-neutral-1000-700: var(--grey-700);
  --ds-neutral-1000-750: var(--grey-750);
  --ds-neutral-150-100: var(--grey-100);
  --ds-neutral-150-1000: var(--grey-1000);
  --ds-neutral-150-600: var(--grey-600);
  --ds-neutral-150-700: var(--grey-700);
  --ds-neutral-150-750: var(--grey-750);
  --ds-neutral-150-800: var(--grey-800);
  --ds-neutral-200-1000: var(--grey-1000);
  --ds-neutral-200-200: var(--grey-200);
  --ds-neutral-200-600: var(--grey-600);
  --ds-neutral-200-700: var(--grey-700);
  --ds-neutral-200-750: var(--grey-750);
  --ds-neutral-200-800: var(--grey-800);
  --ds-neutral-200-900: var(--grey-900);
  --ds-neutral-250-600: var(--grey-600);
  --ds-neutral-250-700: var(--grey-700);
  --ds-neutral-300-300: var(--grey-300);
  --ds-neutral-300-500: var(--grey-500);
  --ds-neutral-300-600: var(--grey-600);
  --ds-neutral-300-700: var(--grey-700);
  --ds-neutral-400-400: var(--grey-400);
  --ds-neutral-400-500: var(--grey-500);
  --ds-neutral-400-600: var(--grey-600);
  --ds-neutral-400-700: var(--grey-700);
  --ds-neutral-500-300: var(--grey-300);
  --ds-neutral-500-400: var(--grey-400);
  --ds-neutral-500-500: var(--grey-500);
  --ds-neutral-500-700: var(--grey-700);
  --ds-neutral-600-250: var(--grey-250);
  --ds-neutral-600-300: var(--grey-300);
  --ds-neutral-600-400: var(--grey-400);
  --ds-neutral-600-500: var(--grey-500);
  --ds-neutral-600-600: var(--grey-600);
  --ds-neutral-600-900: var(--grey-900);
  --ds-neutral-700-100: var(--grey-100);
  --ds-neutral-700-200: var(--grey-200);
  --ds-neutral-700-300: var(--grey-300);
  --ds-neutral-700-400: var(--grey-400);
  --ds-neutral-700-500: var(--grey-500);
  --ds-neutral-700-600: var(--grey-600);
  --ds-neutral-700-700: var(--grey-700);
  --ds-neutral-700-800: var(--grey-800);
  --ds-neutral-750-150: var(--grey-150);
  --ds-neutral-750-750: var(--grey-750);
  --ds-neutral-800-100: var(--grey-100);
  --ds-neutral-800-1000: var(--grey-1000);
  --ds-neutral-800-500: var(--grey-500);
  --ds-neutral-800-600: var(--grey-600);
  --ds-neutral-800-700: var(--grey-700);
  --ds-neutral-800-800: var(--grey-800);
  --ds-neutral-900-0: var(--grey-0);
  --ds-neutral-900-050: var(--grey-050);
  --ds-neutral-900-900: var(--grey-900);
}
/* typography */
:root {
  /* Mode 1 */
  /* number */
  --font-line-height-16: 16px;
  --font-line-height-20: 20px;
  --font-line-height-24: 24px;
  --font-line-height-28: 28px;
  --font-line-height-30: 30px;
  --font-line-height-32: 32px;
  --font-line-height-34: 34px;
  --font-line-height-40: 40px;
  --font-line-height-44: 44px;
  --font-line-height-58: 58px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  /* string */
  --font-family-amount: Inter;
  --font-family-body: Inter;
  --font-family-heading: Inter;
  --font-family-paragraph: Inter;
  --font-family-subtitle: Inter;
  --font-weight-medium: medium;
  --font-weight-regular: regular;
  --font-weight-semibold: semibold;
}
/* radius */
:root {
  /* Mode 1 */
  /* number */
  --radius-0: 0px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-11: 11px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-100: 100px;
}
/* size */
:root {
  /* Mode 1 */
  /* number */
  --ds-popup-width-s: 416px;
  --ds-popup-width-m: 788px;
  --ds-popup-width-l: 1058px;
  --ds-popup-width-full-screen: 1576px;
}

/* stylelint-enable */
