@use '../mixins' as mixins;

:host {
  display: block;
}

.form-datepicker-period-control,
.form-datepicker-control {
  --spr-dropdown-color: var(--brd-text-default-800);
  --spr-dropdown-border-color: var(--brd-border-default-400);
  --spr-dropdown-border-color-hover: var(--brd-border-accent-hover-base);
  --spr-dropdown-border-color-active: var(--spr-dropdown-border-color);
  --spr-dropdown-border-color-focus: var(--spr-dropdown-border-color);
  --spr-dropdown-border-color-invalid: var(--brd-border-destructive-500);
  --spr-dropdown-background: var(--brd-fill-default-0);
  --spr-dropdown-background-hover: var(--spr-dropdown-background);
  --spr-dropdown-background-active: var(--brd-fill-pressed-50);
  --spr-dropdown-background-focus: var(--spr-dropdown-background);
  --spr-dropdown-background-disabled: var(--brd-fill-disabled-250);
  --spr-dropdown-box-shadow-focus: 0 0 0 2px rgb(var(--brd-black) / 0.08);

  display: block;
  cursor: pointer;
  width: 100%;
  padding: 7px 33px 7px 11px;
  font-size: var(--spr-font-size-14);
  line-height: 20px;
  font-weight: 400;
  color: var(--spr-dropdown-color);
  background: var(--spr-dropdown-background);
  border: 1px solid var(--spr-dropdown-border-color, transparent);
  border-radius: var(--spr-border-radius-m);
  transition:
    border var(--spr-transition-time) ease,
    background-color var(--spr-transition-time) ease;
  appearance: none;
  background-clip: padding-box;
  text-overflow: ellipsis;
  outline: none;

  &--large {
    font-size: var(--spr-font-size-16);
    min-height: 44px;
    padding: 11px;
  }

  &:hover:not(.is-invalid, :disabled) {
    --spr-dropdown-border-color: var(--spr-dropdown-border-color-hover);

    background: var(--spr-dropdown-background-hover);
  }

  &:focus-visible:not([aria-expanded='true'], .is-invalid) {
    background: var(--spr-dropdown-background-focus);
    box-shadow: var(--spr-dropdown-box-shadow-focus);
    outline: none;
  }

  &:disabled {
    background: var(--spr-dropdown-background-disabled);
    cursor: default;
  }

  &::placeholder {
    color: rgb(var(--spr-grey-750));
  }

  &.is-invalid {
    --spr-dropdown-border-color: var(--spr-dropdown-border-color-invalid);
  }

  &.control-form--large {
    font-size: var(--spr-font-size-16);
    padding: 11px 33px 11px 11px;
  }
}

.form-dropdown {
  &.is-open,
  &.show {
    .form-datepicker-control,
    .btn-calendar,
    .label-form-row {
      pointer-events: none;
    }

    .form-datepicker-control {
      background: var(--spr-dropdown-background-active);
    }
  }
}

.form-datepicker-period-control__icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--brd-icon-default-500);
  font-size: var(--spr-font-size-20);

  &--right {
    left: auto;
    right: 8px;
  }
}
