@use '../mixins' as mixins;
@use '../typography/heading' as heading-text;

ngb-modal-window {
  --spr-modal-header-padding: 8px 8px 8px 24px;
  --spr-modal-max-width: 520px;

  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(100% - var(--brd-bria-panel-width, 0px));
    height: 100%;
  }
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-height: 90%;
  height: 100%;
  width: 100%;
  max-width: var(--spr-modal-max-width);
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;

  &.modal-fullscreen {
    --spr-modal-max-width: 100%;

    max-height: 100%;
    padding: 0;

    .modal-content {
      height: 100%;
      border-radius: 0;
    }
  }

  &.modal-lg {
    --spr-modal-max-width: 800px;
  }

  &.modal-xl {
    --spr-modal-max-width: 1200px;
  }

  .modal-content > * {
    display: block;
    height: 100%;
  }
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--spr-modal-header-padding);
  background-color: var(--brd-fill-default-200);
  border: none;
  position: relative;
  z-index: 1;
}

.modal-header__title {
  @include heading-text.heading-font-config('s');

  color: var(--brd-text-default-900);
  margin: 0;
  display: flex;
  align-items: center;
}

.modal-body {
  @include mixins.scroll-style;

  position: relative;
  flex: 1 1 auto;
  padding: 0;
  overflow-y: auto;
  background: var(--brd-modal-body-custom-bg, var(--brd-fill-default-50));
  min-height: 152px;
  height: calc(100% - 142px);
}

.close-modal-button {
  display: grid;
  place-content: center;
  place-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: var(--spr-border-radius-xs);
  background-color: transparent;
  outline: none;
  color: var(--brd-icon-default-500);
  font-size: var(--spr-font-size-24);
  transition: background-color var(--spr-transition-time) ease;

  &:only-child {
    margin-left: auto;
  }

  &:hover {
    color: var(--brd-icon-hover-700);
    background-color: var(--brd-fill-hover-100);
  }

  &:active,
  &:focus-visible {
    color: var(--brd-icon-pressed-300);
    background-color: var(--brd-fill-pressed-100);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--brd-black));

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 0.7;
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: var(--spr-border-radius-xl);
  box-shadow: 0 4px 110px 0 rgb(var(--brd-black) / 0.25);
  background-color: var(--brd-fill-default-50);
  animation-name: modal-animation;
  animation-duration: 250ms;
  pointer-events: auto;
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-top: 1px solid var(--brd-border-default-300);
  background-color: var(--brd-fill-default-200);

  &:empty {
    display: none;
  }

  &:has(.delete-view) {
    justify-content: flex-start;
  }
}

.delete-view {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.delete-view__title {
  color: var(--brd-text-primary-800);
  font-size: var(--spr-font-size-16);
  line-height: var(--spr-line-height-20);
  font-weight: 600;
  max-width: 324px;
}

.delete-view__actions {
  display: flex;
  gap: 12px;
}
